{% load static %}
<!doctype html>
<html lang="en">
  <head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/recommend.css'%}">
    <title>Recommended for you</title>
    <link rel="icon" href="{% static 'images/books.png'%}">
  </head>
  <body>
    <div class="container">
        <div class="heading">
          <h1>Coming Soon</h1>
          <p>We're excited to announce that our website is coming soon!</p>
        </div>
        <div class="cta">
          <a href="#">Subscribe to our newsletter to be the first to know when we launch!</a>
        </div>
      </div>
  </body>
</html>